@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #677489;
}

#container {
    background-color: #F2F5F9;
    margin: 50px 15px 0px 15px;
    padding: 35px;
}

#container #imagem_principal {
    width: 100%;
    border-radius: 14px 14px 0 0;
}

#divisao {
    background-color: #FFFFFF;
}

#container h1 {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 15px;
}

#container p {
    margin-top: 25px;
    font-family: Lato, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #677489;
    word-break: break-all;
}

#divisao hr {
    width: 99%;
    margin-top: 25px;
    margin-left: 0.1%;
}

#depoimento {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#depoimento #icone {
    border-radius: 50%;
    width: 40px;
    margin-top: 20px;
}

#container h3 {
    margin-top: 17px;
    margin-right: 160px;
}